<template name="dapp_outputAIT">
    <div class="dapp-output">
        <div class="value">
        {{#if $eq output.type "address"}}
            <span class="address">
                {{> dapp_identiconAIT identity=value class="dapp-tiny"}}
                {{value}} 
            </span>        
        {{else}}
            <strong> {{value}} </strong>
            <em> {{extra}} </em>

        {{/if}}
        </div>
        
        <div class="type">
            {{type}} 
            {{#if bits}}
                ({{bits}} bits)
            {{/if}}
        </div>  
    </div>
</template>